<html lang="en">
<head>
<title>First website</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" >

</head>
<body>

	<div class="header">
		<div class="logo">
			<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='#')}}" alt="logo"></a>
		</div>
		<div class"title">
			<h2>Title</h2>
		</div>
	</div>	
	<div class="sidebar">
		<div class="userimg">
		<img src="{{ url_for('static', filename='#') }}" alt="userimage ">
		</div>  
	<nav>
	   <ul class="nmenu">
		   <li><a href="{{ url_for('login') }}">Login</a></li>
		   <li><a href="{{ url_for('register') }}">Register</a></li>
	   </ul>
	  </nav>	  
	</div>
	<div class="content">
		{%block content%}
		{%endblock%}
	</div>

</body>
</html>
